target/
build/
bin/
Thumbs.db
.DS_Store
.project
.classpath
.springBeans
.DS_Store
ivy*.xml
*.iml
*.ipr
*.iws
*.class
*.war
.idea
.settings/
.gradle/
**/ivy*.xml
**/.gradle
**/.classpath
**/.project
**/.settings
**/.springBeans
**/classes
**/build
**/bin
**/target
